<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <form>-->
<!--       <table border="1">-->
<!--           <thead>-->
<!--                <tr>-->
<!--                    <th>Title</th>-->
<!--                    <th>Description</th>-->
<!--                    <th>Do before</th>-->
<!--                    <th>Is done</th>-->
<!--                </tr>-->
<!--           </thead>-->
<!--           <tbody>-->
<!--                <tr th:each="task: ${tasks}">-->
<!--                    <td><span th:text="value=${task.name}">Title</span></td>-->
<!--                    <td><span th:text="${task.description}">Descriptio</span></td>-->
<!--                    <td><span th:text="${task.deadline}">Do before</span></td>-->
<!--                    <td><input type="checkbox"-->
<!--                               name="tasks"-->
<!--                               th:attr="value=${task.isDone}">Is Done</td>-->
<!--                </tr>-->
<!--           </tbody>-->
<!--       </table>-->
<!--    </form>-->

</body>
</html>